# Ignore configuration and build script
.pypirc
build_script.txt
*03_imputegap_exercices.ipynb
*03_imputegap_exercices_sol.ipynb
*assignment_imputegap.ipynb
*runner_validation.py
*extractor_imp.py
*extractor_pickle.py
*extractor_pkl.py
cleanimp/datasets/z_*.txt
cleanimp/datasets/y_*.txt
cleanimp/datasets/fmri-objectviewing.txt
cleanimp/datasets/pollution.txt
cleanimp/datasets/test-large.txt
*checkpoint.pth
*script_181.py
*script_patterns.py
*script_180.py
*script_182.py
*script_lan.py
*hereliande.py
*runner_efeatures.py
*paper_matrixcompletion.py
*paper_ml.py
*paper_dl.py
*saits_run.txt
*runner_cleaner.py
cleanimp/wrapper/AlgoPython/NuwaTS/data_provider/dataset/ETT-small/ETTh1.csv
.coveragerc
./old_requirements.txt
cleanimp/_optimization
cleanimp/_caching
cleanimp/datasets/_old/*
cleanimp/_optimization/*
cleanimp/_caching/*
cleanimp/datasets/_old/*
# Ignore all datasets
cleanimp/datasets/*
.idea
.idea/*
cleanimp.egg-info
cleanimp.egg-info/*
cleanimp/imputegap_assets
cleanimp/imputegap_assets/*

# Except forecasting datasets
!cleanimp/datasets/forecast/
!cleanimp/datasets/forecast/**

# ============================================================
# CLASSIFICATION DATASETS - BATCH 1
# ============================================================
# Ignore classification datasets
cleanimp/datasets/classify/*

# Allow directory traversal
!cleanimp/datasets/classify/

# Batch 1
!cleanimp/datasets/classify/ACSF1/
!cleanimp/datasets/classify/ACSF1/**
!cleanimp/datasets/classify/Adiac/
!cleanimp/datasets/classify/Adiac/**
!cleanimp/datasets/classify/ArrowHead/
!cleanimp/datasets/classify/ArrowHead/**
!cleanimp/datasets/classify/Beef/
!cleanimp/datasets/classify/Beef/**
!cleanimp/datasets/classify/BirdChicken/
!cleanimp/datasets/classify/BirdChicken/**
!cleanimp/datasets/classify/Car/
!cleanimp/datasets/classify/Car/**
!cleanimp/datasets/classify/CBF/
!cleanimp/datasets/classify/CBF/**

# ============================================================
# CLASSIFICATION DATASETS - BATCH 2
# ============================================================
!cleanimp/datasets/classify/ChlorineConcentration/
!cleanimp/datasets/classify/ChlorineConcentration/**
!cleanimp/datasets/classify/CinCECGTorso/
!cleanimp/datasets/classify/CinCECGTorso/**
!cleanimp/datasets/classify/Colposcopy/
!cleanimp/datasets/classify/Colposcopy/**
!cleanimp/datasets/classify/Computers/
!cleanimp/datasets/classify/Computers/**
!cleanimp/datasets/classify/CricketX/
!cleanimp/datasets/classify/CricketX/**
!cleanimp/datasets/classify/DistalPhalanxOutlineAgeGroup/
!cleanimp/datasets/classify/DistalPhalanxOutlineAgeGroup/**
!cleanimp/datasets/classify/DistalPhalanxOutlineCorrect/
!cleanimp/datasets/classify/DistalPhalanxOutlineCorrect/**

# ============================================================
# CLASSIFICATION DATASETS - BATCH 3
# ============================================================
!cleanimp/datasets/classify/DistalPhalanxTW/
!cleanimp/datasets/classify/DistalPhalanxTW/**
!cleanimp/datasets/classify/Earthquakes/
!cleanimp/datasets/classify/Earthquakes/**
!cleanimp/datasets/classify/ECGFiveDays/
!cleanimp/datasets/classify/ECGFiveDays/**
!cleanimp/datasets/classify/EOGHorizontalSignal/
!cleanimp/datasets/classify/EOGHorizontalSignal/**
!cleanimp/datasets/classify/EOGVerticalSignal/
!cleanimp/datasets/classify/EOGVerticalSignal/**
!cleanimp/datasets/classify/EthanolLevel/
!cleanimp/datasets/classify/EthanolLevel/**
!cleanimp/datasets/classify/FaceAll/
!cleanimp/datasets/classify/FaceAll/**

# ============================================================
# CLASSIFICATION DATASETS - BATCH 4
# ============================================================
!cleanimp/datasets/classify/FaceFour/
!cleanimp/datasets/classify/FaceFour/**
!cleanimp/datasets/classify/FacesUCR/
!cleanimp/datasets/classify/FacesUCR/**
!cleanimp/datasets/classify/Fish/
!cleanimp/datasets/classify/Fish/**
!cleanimp/datasets/classify/FreezerRegularTrain/
!cleanimp/datasets/classify/FreezerRegularTrain/**
!cleanimp/datasets/classify/FreezerSmallTrain/
!cleanimp/datasets/classify/FreezerSmallTrain/**
!cleanimp/datasets/classify/GunPoint/
!cleanimp/datasets/classify/GunPoint/**
!cleanimp/datasets/classify/GunPointAgeSpan/
!cleanimp/datasets/classify/GunPointAgeSpan/**

# ============================================================
# CLASSIFICATION DATASETS - BATCH 5
# ============================================================
!cleanimp/datasets/classify/GunPointMaleVersusFemale/
!cleanimp/datasets/classify/GunPointMaleVersusFemale/**
!cleanimp/datasets/classify/GunPointOldVersusYoung/
!cleanimp/datasets/classify/GunPointOldVersusYoung/**
!cleanimp/datasets/classify/Ham/
!cleanimp/datasets/classify/Ham/**
!cleanimp/datasets/classify/Haptics/
!cleanimp/datasets/classify/Haptics/**
!cleanimp/datasets/classify/Herring/
!cleanimp/datasets/classify/Herring/**
!cleanimp/datasets/classify/InlineSkate/
!cleanimp/datasets/classify/InlineSkate/**
!cleanimp/datasets/classify/InsectEPGRegularTrain/
!cleanimp/datasets/classify/InsectEPGRegularTrain/**

# ============================================================
# CLASSIFICATION DATASETS - BATCH 6
# ============================================================
!cleanimp/datasets/classify/InsectWingbeatSound/
!cleanimp/datasets/classify/InsectWingbeatSound/**
!cleanimp/datasets/classify/LargeKitchenAppliances/
!cleanimp/datasets/classify/LargeKitchenAppliances/**
!cleanimp/datasets/classify/Lightning2/
!cleanimp/datasets/classify/Lightning2/**
!cleanimp/datasets/classify/Lightning7/
!cleanimp/datasets/classify/Lightning7/**
!cleanimp/datasets/classify/Meat/
!cleanimp/datasets/classify/Meat/**
!cleanimp/datasets/classify/MedicalImages/
!cleanimp/datasets/classify/MedicalImages/**
!cleanimp/datasets/classify/MoteStrain/
!cleanimp/datasets/classify/MoteStrain/**

# ============================================================
# CLASSIFICATION DATASETS - BATCH 7
# ============================================================
!cleanimp/datasets/classify/OliveOil/
!cleanimp/datasets/classify/OliveOil/**
!cleanimp/datasets/classify/OSULeaf/
!cleanimp/datasets/classify/OSULeaf/**
!cleanimp/datasets/classify/PhalangesOutlinesCorrect/
!cleanimp/datasets/classify/PhalangesOutlinesCorrect/**
!cleanimp/datasets/classify/Plane/
!cleanimp/datasets/classify/Plane/**
!cleanimp/datasets/classify/PowerCons/
!cleanimp/datasets/classify/PowerCons/**
!cleanimp/datasets/classify/ProximalPhalanxOutlineAgeGroup/
!cleanimp/datasets/classify/ProximalPhalanxOutlineAgeGroup/**
!cleanimp/datasets/classify/ProximalPhalanxOutlineCorrect/
!cleanimp/datasets/classify/ProximalPhalanxOutlineCorrect/**

# ============================================================
# CLASSIFICATION DATASETS - BATCH 8
# ============================================================
!cleanimp/datasets/classify/RefrigerationDevices/
!cleanimp/datasets/classify/RefrigerationDevices/**
!cleanimp/datasets/classify/Rock/
!cleanimp/datasets/classify/Rock/**
!cleanimp/datasets/classify/ScreenType/
!cleanimp/datasets/classify/ScreenType/**
!cleanimp/datasets/classify/SemgHandGenderCh2/
!cleanimp/datasets/classify/SemgHandGenderCh2/**
!cleanimp/datasets/classify/SemgHandMovementCh2/
!cleanimp/datasets/classify/SemgHandMovementCh2/**
!cleanimp/datasets/classify/SemgHandSubjectCh2/
!cleanimp/datasets/classify/SemgHandSubjectCh2/**
!cleanimp/datasets/classify/ShapeletSim/
!cleanimp/datasets/classify/ShapeletSim/**